# Laravel
/vendor/
.env
.env.*
!.env.example
/storage/
!storage/app/
!storage/framework/
!storage/framework/cache/
!storage/framework/sessions/
!storage/framework/views/
!storage/logs/
bootstrap/cache/
!bootstrap/cache/.gitignore

# Laravel Cache / Test
.phpunit.result.cache
.phpunit.cache
.phpactor.json
/.phpunit.cache

# Logs
*.log
storage/*.log

# Node / Vite
/node_modules/
/public/hot
/public/build
npm-debug.log
yarn-error.log
pnpm-lock.yaml

# Docker
docker-compose.override.yml
docker-compose.local.yml
.docker/
pgdata/
pg_data/
mysql/
mariadb/
*.pid

# SQLite (se usado)
*.sqlite
*.sqlite3
*.db

# IDEs / Sistemas
/.idea/
/.vscode/
/.fleet
/.nova
/.zed
Thumbs.db
.DS_Store
*.swp
*.swo

# Misc
Homestead.json
Homestead.yaml
composer.phar
tailwind.config.js
vite.config.js
